@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1520px;
  width: 83.5%; 
  margin: 0 auto;
}

/* common styling */

h3 {
  font-size: 38px;
  font-weight: 600;
}

/*=================================
  Home styling starts here
=================================*/

/* header section start */
header .wrapper{  width: 100%; }

.header-top {
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 { padding: 0  5px;}

header { border-bottom: 1px solid #d3d3d3; }

.header-top-content li a { 
  color: #000;
  font-size: 18px;
}

.header-top-content li:last-of-type a {
  padding: 35px 52px;
  color: #fff;
}

.header-top-content li:nth-child(2) a {  margin: 0 36px; }
.header-top-content li:last-of-type {   background-color: #ee5d22; }

.header-top-content li a::before {
  margin-right: 7px;
  font-family: FontAwesome;
  font-size: 24px;
}

.header-top-content li:first-of-type a::before { content: '\f041'; }
.header-top-content li:nth-child(2) a::before { content: '\f095'; }
.header-top-content li:last-of-type a::before { content: '\f133'; }

.menu {
  margin: 0 4.5% 0 6%;
  display: flex;
  justify-content: space-around;
}

.header-bottom a { 
  padding: 16px 0;
  color: #66bcd2;
}

nav a span {  font-size: 0px; }
nav a span::before { font-size: 16px; }
.hamburger span { display: none; }

.dropdown {
  min-width: 70px;
  width: 10%;
  position: absolute;
  display: none;
  background: #f2f2f2;
  text-align: center;
  z-index: 1;
}

.dropdown li { display: none;}
nav li:hover ul.dropdown { display: block; }
.dropdown li { display: block; z-index: 3; }
.dropdown li a { padding: 15px; } 
.dropdown li:hover { background-color: #e3efc7; } 
/* header section end */

/* banner section start */
.banner {
  padding: 104px 0 92px;
  border-bottom-left-radius: 50% 3.5%;
  border-bottom-right-radius: 50% 3.5%;
  background: #91c299 url(https://via.placeholder.com/1520x620/91c299?text=Optegra) no-repeat 50% 50%;
  background-size: cover;
}

h2 { 
  color:#fff;
  font-size: 52px;
  font-weight: 600;
}

.banner-content { margin: 0 8.7%; }

.banner-content > p { 
  padding: 34px 0 36px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.banner-content li:first-child {  margin-right: 3.7%; }

.banner-content form {
  padding: 28px 2.5%;
  border-bottom: 36px solid #ffffff4d;
  margin-top: 40px;
  background-color: #d3d3d380;
}

.banner-content label {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.banner-content .form-control { padding-top: 7px; }
.banner-content input { margin-right: 4px; }

.banner-content input,.banner-content a {
  width: 20%;
  padding: 14px 2%;
}

.banner-content a {
  border-radius: 25px;
  background-color: #ee5d22;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.banner-content a::before {
  content: '\f019';
  padding-right: 5px;
  font-family: FontAwesome;
  font-weight: 400;
}
/* banner section end */
/*=================================
  Home styling ends here
=================================*/  

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {


}  