@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1520px;
  width: 83.5%; 
  margin: 0 auto;
}

/* common styling */

h3 {
  font-size: 38px;
  font-weight: 600;
}

/*=================================
  Home styling starts here
=================================*/

/* header section start */
header .wrapper{  width: 100%; }

.header-top {
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 { padding: 0  5px;}

header { border-bottom: 1px solid #d3d3d3; }

.header-top-content li a { 
  color: #000;
  font-size: 18px;
}

.header-top-content li:last-of-type a {
  padding: 35px 52px;
  color: #fff;
}

.header-top-content li:nth-child(2) a {  margin: 0 36px; }
.header-top-content li:last-of-type {   background-color: #ee5d22; }

.header-top-content li a::before {
  margin-right: 7px;
  font-family: FontAwesome;
  font-size: 24px;
}

.header-top-content li:first-of-type a::before { content: '\f041'; }
.header-top-content li:nth-child(2) a::before { content: '\f095'; }
.header-top-content li:last-of-type a::before { content: '\f133'; }

.menu {
  margin: 0 4.5% 0 6%;
  display: flex;
  justify-content: space-around;
}

.header-bottom a { 
  padding: 16px 0;
  color: #66bcd2;
}

nav a span {  font-size: 0px; }
nav a span::before { font-size: 16px; }
.hamburger span { display: none; }

.dropdown {
  min-width: 70px;
  width: 10%;
  position: absolute;
  display: none;
  background: #f2f2f2;
  text-align: center;
  z-index: 1;
}

.dropdown li { display: none;}
nav li:hover ul.dropdown { display: block; }
.dropdown li { display: block; z-index: 3; }
.dropdown li a { padding: 15px; } 
.dropdown li:hover { background-color: #e3efc7; } 
/* header section end */

/* banner section start */
.banner {
  padding: 104px 0 92px;
  border-bottom-left-radius: 50% 3.5%;
  border-bottom-right-radius: 50% 3.5%;
  background: #91c299 url(https://via.placeholder.com/1520x620/91c299?text=Optegra) no-repeat 50% 50%;
  background-size: cover;
}

h2 { 
  color:#fff;
  font-size: 52px;
  font-weight: 600;
}

.banner-content { margin: 0 8.7%; }

.banner-content > p { 
  padding: 34px 0 36px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.banner-content li:first-child {  margin-right: 3.7%; }

.banner-content form {
  padding: 28px 2.5%;
  border-bottom: 36px solid #ffffff4d;
  margin-top: 40px;
  background-color: #d3d3d380;
}

.banner-content label {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.banner-content .form-control { padding-top: 7px; }
.banner-content input { margin-right: 4px; }

.banner-content input,.banner-content a {
  width: 20%;
  padding: 14px 2%;
}

.banner-content a {
  border-radius: 25px;
  background-color: #ee5d22;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.banner-content a::before {
  content: '\f019';
  padding-right: 5px;
  font-family: FontAwesome;
  font-weight: 400;
}
/* banner section end */

/* service section start */
.our-services {
  display: flex;
  justify-content: space-around;
  color: #007374;
  padding: 60px 0 148px;
  text-align: center;
}

.our-services span { font-size: 0px; }
.our-services span::before { font-size: 48px; }
.our-services li { width: 20%; }

.our-services p { 
  padding-top: 16px;
  font-size: 18px;
  line-height: 1.6;
 }

 .surgery {
   display: flex;
   justify-content: space-around;
   text-align: center;
   margin-bottom: 130px;
 }

 .surgery li { width: 30%;}

 .surgery img {
   width: 86%;
   border-radius: 50%;
 }

 .surgery h4 {
   padding-top: 20px;
   color: #007374;
   font-size: 24px;
   font-weight: 600;
 }

 .surgery p {
   font-size: 18px;
   color: rgba(0, 0, 0, 0.7);
   padding: 10px 0;
 }

 .surgery a,
 .free-opening a {
   border-radius: 24px;
   background-color: #ee5d22;
   color: #fff;
   padding: 10px 7%;
   font-weight: 600;
 }

 .surgery a::after,
 .free-opening a::after {
   content: '\f061';
   font-family: FontAwesome;
   padding-left: 8px;
   font-weight: 400; 
 }
/* service section end */

/* see different section start */
.see-differents {
  border-top: 1px solid #d3d3d3;
  border-top-left-radius: 50% 5%;
  border-top-right-radius: 50% 5%;
}

.see-differents-container {  margin: 106px 25% 118px;}

.see-differents h3 {
  margin-bottom: 20px;
  color: #007374;
}

.see-differents p {
  margin-bottom: 20px;
  font-size: 20px;
}

.see-differents p:last-of-type {  margin-bottom: 70px;}

.differences-list h5 {
  width: 100%;
  padding-bottom: 20px;
  margin-left: 5%;
  color: #007374;
  font-size: 20px;
}

.differences-list span {
  width: 20%;
  padding: 10px 15px;
  border-radius: 50%;
  background-color: #91c299;
  color: #d3d3d3;
  font-size: 28px;
  font-weight: 700;
}

.differences-list-content { 
  width: 100%;
  margin-bottom: 24px;
}

.differences-list-content ul {  display: flex;}
.differences-list li:first-of-type span { background-color: #2f6f73;}
.differences-list li:nth-child(2) span { background-color: #2f6f73; opacity: 0.7;}
.differences-list li:nth-child(3) span { background-color: #2f6f73; opacity: 0.3;}
.differences-list li:nth-child(4) span { background-color: #2f6f73; opacity: 0.5;}
.differences-list li:nth-child(5) span { background-color: #2f6f73; opacity: 0.8;}
.differences-img li:first-of-type {  margin: 4px 7% 0 10%; }
/* see different section end */

/* client review section start */
.client-review,
.our-customers,
.download-info {
  padding: 102px 0 102px;
  border-top: 1px solid #d3d3d3;
  border-top-left-radius: 50% 5%;
  border-top-right-radius: 50% 5%;
  border-bottom: 1px solid #d3d3d3;
  border-bottom-left-radius: 50% 5%;
  border-bottom-right-radius: 50% 5%;
  background-color: #cef1ea;
}

.client-review h3 {
  font-weight: 700;
  word-spacing: 16px;
}

.client-review ul {
  margin-top: 30px;
  display: flex;
  text-align: center;
}

.client-review li:first-of-type { margin-left: 10%;}
.client-review img { border-radius: 50%; }
.client-review li:first-of-type p { font-size: 14px; }

.client-review h5 {
  padding-bottom: 3px;
  margin-top: 12px;
  font-weight: 600;
  text-decoration: underline #66bcd2;
}

.client-review li:last-of-type p { 
  padding: 34px 68px;
  border-radius: 22px;
  margin-top: 54px;
  margin-left: 15%;
  position: relative;
  background-color: #fff;
  color: #00000099;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
}

.client-review li:last-of-type p::before {
  content: '\f10d';
  position: absolute;
  top: 30px;
  left: 3.5%;
  color: #66bcd2;
  font-family: FontAwesome;
  font-size: 24px;
}

.client-review li:last-of-type p::after {
  content: '\f10e';
  color: #66bcd2;
  position: absolute;
  right: 10%;
  font-family: FontAwesome;
  font-size: 24px;
}

.quote {
  width: 5%;
  height: 40px;
  font-size: 0;
  background-color: #fff;
  margin-left: 22%;
  border-bottom-right-radius: 100%;
}
/* client review section end*/


/* free opening section start*/
.free-opening ul {
  padding: 128px 7% 94px;
  display: flex;
}

.free-opening h3 { color: #007374; }
.free-opening li:first-child span { font-size:  0; }

.free-opening li:first-child span::before { 
  color: #70d0ba;
  font-size:  180px;
 }

 .free-opening li:last-of-type {
   width: 55%;
   padding-top: 54px;
   padding-left: 4.5%;
 }

 .free-opening p { font-size: 18px; }
 .free-opening li:last-of-type p:first-of-type { padding: 20px 0; }
 .free-opening a { margin-top: 20px; }
/* free opening section end*/

/* our customer section start */
.our-customers {  padding: 102px 0 148px; }

.our-customers .wrapper > p { 
  padding: 16px 0 28px;
  font-weight: 600; 
}

.our-customers p span::before {
  content: '\f005';
  font-family: FontAwesome;
  color: #00b67a;
}

.our-customers ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.our-customers li {
  background-color: #fff;
  border-radius: 16px;
  padding: 22px 30px 50px;
  width: 27%;
}

.star .fas{
  color: #fff;
  background-color: #00b67a;
  font-size: 0px;
  padding: 5px;
  margin-bottom: 18px;
}

.star .fas::before { font-size: 16px; }
.customer-content { font-size: 18px;}
.customer-content h5 { font-weight: 600; }
.customer-content p { padding: 10px 0;}

.customer-content span {
  color: #a9a9a9;
  font-size: 16px;
}
/* our customer section end */


/* faq section start */
.faq { padding: 96px 0 98px; }

.faq h3{  
  color: #007374;
  width: 46%;
  margin: 0 auto 10px;
  border-bottom: 1px solid #000;
  padding-bottom: 16px;
}

.accordion-section {
  width: 46%;
  margin: 0 auto;
}

.accordion-title h4 {
  padding: 16px 0 26px;
  font-size: 18px;
  font-weight: 600;
}

.accordion-title {
  border-bottom: 1px solid #a9a9a9;
  cursor: pointer;
  width: 100%;
}

.accordion-data {
  text-align: left;
  font-size: 14px;
  max-height: 0;
  overflow: hidden;
  transition: .2s;
}

.accordion-data p {
  padding: 10px 0 25px;
}

.accordion-title h4:after {
  content: '\f078';
  font-family: "fontawesome";
  font-size: 16px;
  color: #000;
  float: right;
}

.accordion-title h4.active:after { content: '\f077'; }

.accordion-title:hover,
.accordion-title.active { color: #ee5d22; }
/* faq section end */


/* download-info section start*/
.download-info { 
  padding-top: 110px 0 116px;
}
/* download-info section end*/



/*=================================
  Home styling ends here
=================================*/  

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {


}  